registry=https://registry.npmjs.org/
@angular:registry=https://registry.npmjs.org/
@nx:registry=https://registry.npmjs.org/
@typescript-eslint:registry=https://registry.npmjs.org/
fund=false
audit=false
